<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button icon-only menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons>
          <button ion-button style="font-size: 20px;" (click)="displayFullCalendar = !displayFullCalendar">
              {{this.monthInView}}  {{this.calMenu.getDisplayedYear()}} &nbsp; <ion-icon name="md-arrow-dropdown"></ion-icon>

          </button>
      </ion-buttons>
  </ion-navbar>

    <ion-calendar [ngClass]="displayFullCalendar ? 'showingCalendar' : 'noDisplayTransition'" #calendar (swipe)="swipe($event, calendar)"
                  (onMonthSelect)="onMonthSelect($event)"
                  (onDaySelect)="onDaySelect($event)"
                  [events]="currentEvents" >

    </ion-calendar>
    <div id="calendarScroll" class="scroll" >
        <ion-row nowrap>
          <div *ngFor="let date of this.calMenu.dateArray" class="expandedDate" (click)="selectDate(date)">
            <ion-item no-lines [ngClass]="date.dateValue == this.dateSelected.dateValue ? 'expandedDate selected' : 'expandedDate'" id="{{date.date.toISOString().slice(0,10)}}">
                <div>
                    <ion-row>
                        <ion-col [ngClass]="date.dateValue == this.dateSelected.dateValue ? 'selectedTitle' : 'dayValue'" color="primary">
                            {{date.dayOfTheWeek}}
                        </ion-col>
                    </ion-row >
                    <ion-row>
                        <ion-col style="font-size: 14px !important;" [ngClass]="date.dateValue == this.dateSelected.dateValue ? 'selectedTitle' : 'dayValue'" color="primary">
                            {{date.date.getDate()}}
                        </ion-col>
                    </ion-row>
                </div>
            </ion-item>
          </div>
        </ion-row>
    </div>
</ion-header>

<ion-content padding [ngClass]="displayFullCalendar ? 'showingCalendarContent' : ''">
    <div>
        <ion-row>
            <ion-col>
                <hr data-content="Planned" class="hr-text">
            </ion-col>
        </ion-row>
        <ion-row *ngIf="this.dateSelected.content.planned != null">
            <h3 class="nothingPlanned">You have no planned trainings</h3>
        </ion-row>

    </div>
    <div class="executed">
        <ion-row>
            <ion-col>
                <hr data-content="Executed" class="hr-text">
            </ion-col>
        </ion-row>
        <ion-row *ngIf="this.dateSelected.content.executed != null">
            <h3 class="nothingPlanned">You did not train today</h3>
        </ion-row>
    </div>
</ion-content>


