page-home {

  .tableCol {
    margin: 0;
    padding: 0;
  }

  .date {
    font-size: 28px;
    text-align: left;
    color: lighten(color($colors, dark), 30%);
  }

  .monthHeader {
    font-size: 16px;
    background: none;
    color: white;
  }

  .dateFont {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
  }

  .selectedDate {
    font-size: 28px;
    color: color($colors, primary);
  }

  .daySelected {
    color: color($colors, primary);
  }

  .nothingPlanned {
    opacity: 0.1;
    font-style: italic;
  }

  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    background: none;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, color($colors, primary), transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      background: #F5F6F8;

      content: attr(data-content);
      position: relative;
      display: inline-block;
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
    }
  }

  .blurContent {
    filter: blur(3px);
  }

  ion-fab {
    ion-icon {
      color: color($colors, primary);

    }
    button {
      box-shadow: 0 4px 10px #6b6b6b;
    }

    ion-fab-list button[ion-fab] {
      margin-top: 10px;
      background-color: black;
      text-shadow: grey 1px 0 10px;

      text-align: center;
      overflow: visible;

      div.label {
        background-color: transparent !important;
        color: color($colors, dark);
        position: absolute;
        right: 48px;
        height: 24px;
        line-height: 16px;
        padding: 5px 8px 5px 8px;
        margin-top: 8px;
        border-radius: 5px;
        //box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        text-shadow: grey 1px 0 10px;
      }
    }

    .button-inner {
      overflow: visible;
    }
  }

  .circleTab {
    margin-bottom: 50px;
  }

  .categoryHeader {
    font-size: 16px;
    padding-left: 5px;
  }

  .exerciseHeader {
    padding-left: 15px;
  }

  .trainingCard {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px 5px 15px 8px;
  }

  .header {
    color: darkred;
  }

}
