page-forgot-password {

  .inputBox {
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    color: white;
  }

  .loginButtonColumn {
    text-align: center;
  }

  .loginButton {
    text-align: center;
    width: 100%;
    background-color: black;
    border: 1px solid color($colors, primary);
  }

}
