page-login {

  .inputBox {
    border: 2px solid;
    border-radius: 20px;
    padding-left: 20px;
  }

  .logo {
    padding-top: 25px;
    padding-bottom: 50px;
    width: 250px;
    margin: auto;
  }

  .loginButton {
    text-align: center;
  }

  .or {
    font-weight: bold;
    text-align: center;
    margin: 15px;
    font-size: 16px;

  }

  .or-line {
    line-height: 22px;
    text-align: start;
    font-size: 16px;
  }

  .mediaLogin {
    width: 100%;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    vertical-align: top;
  }

  .mediaLoginFb {
    background-color: #3b5998;
  }
  .mediaLoginGoogle {
    background-color: #cc0000;
  }
  .loginLogo {

  }

}
