<!--
  Generated template for the CreateTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons left>
            <button ion-button="arrow-back" color="primary" (click)="cancel()">
                <ion-icon name="ios-arrow-down"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>New Training</ion-title>
        <ion-buttons right (click)="createNewTraining()">
            <button ion-button="arrow-back" color="primary" (click)="cancel()">
                Save
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list no-lines>
        <ion-list-header class="title item-stable" (click)="toggleGroup('preTraining')">
            <ion-col>
                Pre-Training
            </ion-col>
            <ion-col style="text-align: right; width: 100%;" col-8>
                <ion-icon style="text-align: right"  *ngIf="!isGroupShown('preTraining')" class="drop"
                          name="ios-arrow-forward"></ion-icon>
                <ion-icon  *ngIf="isGroupShown('preTraining')" class="drop" name="ios-arrow-down" right></ion-icon>
            </ion-col>
        </ion-list-header>
          <ion-item-group class="item-accordion" *ngIf="isGroupShown('preTraining')">

              <div  *ngFor="let title of preTrainingDivide.range">
            <ion-item class="ionItemCrop">
                <ion-label item-start>{{title["key"]}}</ion-label>
                <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right class="range" [(ngModel)]="title['val']">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>5</ion-label>
                </ion-range>
            </ion-item>
              </div>
              <ion-item *ngFor="let title of preTrainingDivide.notes">
                  <ion-label stacked> {{title["key"]}} </ion-label>
                  <ion-textarea class="thoughts" [(ngModel)]="title['val']"></ion-textarea>
              </ion-item>
          </ion-item-group>

        <ion-list-header class="title item-stable" (click)="toggleGroup('training')">
            <ion-col>
                Training
            </ion-col>
            <ion-col style="text-align: right; width: 100%;" col-8>
                <ion-icon style="text-align: right"  *ngIf="!isGroupShown('training')" class="drop"
                          name="ios-arrow-forward"></ion-icon>
                <ion-icon  *ngIf="isGroupShown('training')" class="drop" name="ios-arrow-down" right></ion-icon>
            </ion-col>
        </ion-list-header>
        <ion-list class="item-accordion" *ngIf="isGroupShown('training')">
            <ion-list>
                <ion-label stacked class="trainingHeaders">Warm Up</ion-label>
                <ion-item *ngIf="!mainTraining.activities.warmUp">
                    <button ion-button (click)="addWarmUp()">Add Warm Up</button>
                </ion-item>
                <ion-item *ngIf="mainTraining.activities.warmUp">
                    <button ion-button (click)="addWarmUp()">{{mainTraining.activities.warmUp}}
                        <ion-icon class="trainingHeaders" name="close"
                                  (click)="mainTraining.activities.setWarmUp(null)"></ion-icon>
                    </button>
                    <ion-note>View</ion-note>

                </ion-item>
                <ion-label stacked class="trainingHeaders">Training</ion-label>
                <div style="margin-top: 20px" *ngFor="let exercise of mainTraining.activities.exercises">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-1 style="margin-right: 20px">
                                <button ion-button style="border-radius: 25px; width: 10px; height: 30px;" (click)="addLabel(exercise)">
                                <ion-icon name="add"></ion-icon>
                                </button>
                            </ion-col>
                            <ion-col col-10>
                                <div class="scroll" nowrap>
                                    <button ion-button class="label" *ngFor="let label of exercise.labels" (click)="removeLabel(label, exercise)">
                                        {{label}}
                                        <ion-icon name="close" class="trainingHeaders"></ion-icon>
                                    </button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid class="exerciseTable" no-margin>
                        <ion-row style="padding-bottom: 5px; width: 100%;">
                            <ion-col style="font-size: medium" left>{{exercise.exerciseName}}</ion-col>
                            <!--<ion-col right><ion-icon ion-button icon-only name="alert"></ion-icon></ion-col>-->
                            <!--<ion-col><ion-note>NOTE</ion-note></ion-col>-->
                            <!--<ion-col><ion-option>option</ion-option></ion-col>-->
                        </ion-row>
                        <ion-row>
                            <!--<ion-col *ngFor="let column of exercise.tableHeaders" col-{{exercise.columnMap[column]}}>{{column}}</ion-col>-->
                            <!--ngStyle="width: exercise.columnMap[column]"-->
                            <!--<ion-col style="text-align: center" *ngFor="let column of exercise.tableHeaders">{{column}}</ion-col>-->
                            <ion-col class="exerciseHeader" col-1>#</ion-col>
                            <ion-col class="exerciseHeader">Detail</ion-col>
                            <ion-col class="exerciseHeader" col-3>Measure</ion-col>
                            <ion-col class="exerciseHeader" col-2>Reps</ion-col>
                            <ion-col class="exerciseHeader" col-1>
                                <ion-icon name="checkmark-outline" style="font-size: 20px; padding: 0; font-weight: bold"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <!--<ion-row *ngFor="let set of exercise.sets">-->
                            <!--<ion-col *ngFor="let key of exercise.sets[set].keys()" class="exerciseCol exerciseHeader"><ion-input>{{set[key]}}</ion-input></ion-col>-->

                            <!--&lt;!&ndash;<ion-col *ngFor="let key of mainTraining.activities.exercises[exercise].sets[set].keys()" class="exerciseCol exerciseHeader"><ion-input>{{set[key]}}</ion-input></ion-col>&ndash;&gt;-->
                            <!--<ion-col class="exerciseCol" col-1>-->
                                <!--<ion-checkbox name="checkmark" style="font-size: 20px; padding: 0; font-weight: bold" [(ngModel)]="set.complete"></ion-checkbox>-->
                            <!--</ion-col>-->
                        <!--</ion-row>-->
                        <!--BEST VERSION BELOW-->
                        <ion-row *ngFor="let set of exercise.sets" no-padding no-margin align-items-center>
                            <ion-col class="exerciseCol" no-margin  col-1>{{set.setNumber}}</ion-col>
                            <ion-col class="exerciseCol"><ion-input text-center no-margin placeholder="Detail" [(ngModel)]="set.detail"></ion-input></ion-col>
                            <ion-col class="exerciseCol" col-3><ion-input text-center no-margin placeholder="Measure" [(ngModel)]="set.measure"></ion-input></ion-col>
                            <ion-col class="exerciseCol" col-2><ion-input text-center no-margin placeholder="Reps" [(ngModel)]="set.reps"></ion-input></ion-col>
                            <ion-col class="exerciseCol" no-margin col-1>
                                <ion-checkbox no-margin [checked]="false" *ngIf="!set.complete" [(ngModel)]="set.complete"></ion-checkbox>
                                <ion-checkbox no-margin [checked]="true" *ngIf="set.complete" [(ngModel)]="set.complete"></ion-checkbox>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            Hardcoded Table
                        </ion-row>

                        <ion-row>
                            <ion-col class="exerciseCol exerciseHeader" col-1>
                                #
                            </ion-col>
                            <ion-col class="exerciseCol exerciseHeader">
                                Detail
                            </ion-col>
                            <ion-col class="exerciseCol exerciseHeader" col-3>
                                Measure
                            </ion-col>
                            <ion-col class="exerciseCol exerciseHeader" col-2>
                                Reps
                            </ion-col>
                            <ion-col class="exerciseCol" col-1>
                                <ion-icon name="checkmark" style="font-size: 20px; padding: 0; font-weight: bold"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="exerciseCol" col-1>
                                1
                            </ion-col>
                            <ion-col class="exerciseCol">
                                With Blocks
                            </ion-col>
                            <ion-col class="exerciseCol" col-3>
                                42"
                            </ion-col>
                            <ion-col class="exerciseCol" col-2>
                                8
                            </ion-col>
                            <ion-col class="exerciseCol" col-1>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="exerciseCol" col-1>
                                2
                            </ion-col>
                            <ion-col class="exerciseCol">
                                Without Blocks
                            </ion-col>
                            <ion-col class="exerciseCol" col-3>
                                39"
                            </ion-col>
                            <ion-col class="exerciseCol" col-2>
                                8
                            </ion-col>
                            <ion-col class="exerciseCol" col-1>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-capitalize class="addSet" (click)="addSet(exercise)">
                                    + ADD SET
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-grid class="exerciseTable" no-padding>
                    <ion-row>
                        <ion-col text-capitalize class="addExercise" (click)="addExercise()">
                            + ADD EXERCISE
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
            <ion-label stacked class="trainingHeaders">Cool Down</ion-label>
            <ion-item *ngIf="!mainTraining.activities.coolDown">
                <button ion-button (click)="addCoolDown()">Add Cool Down</button>
            </ion-item>
            <ion-item *ngIf="mainTraining.activities.coolDown">
                <button ion-button (click)="addCoolDown()">{{mainTraining.activities.coolDown}}
                    <ion-icon class="trainingHeaders" name="close"
                              (click)="mainTraining.activities.setCoolDown(null)"></ion-icon>
                </button>
                <ion-note end>View</ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Notes</ion-label>
                <ion-textarea class="thoughts" [(ngModel)]="mainTraining.mainTrainingNotes.val"></ion-textarea>
            </ion-item>
        </ion-list>


        <ion-list-header class="title item-stable" (click)="toggleGroup('postTraining')">
            <ion-col>
                Post-Training
            </ion-col>
            <ion-col style="text-align: right; width: 100%;" col-8>
                <ion-icon style="text-align: right" *ngIf="!isGroupShown('postTraining')" class="drop"
                          name="ios-arrow-forward"></ion-icon>
                <ion-icon *ngIf="isGroupShown('postTraining')" class="drop" name="ios-arrow-down" right></ion-icon>
            </ion-col>
        </ion-list-header>
        <div class="item-accordion" *ngIf="isGroupShown('postTraining')">
            <ion-item-group>
                <ion-item class="ionItemCrop" *ngFor="let title of postTrainingDivide.range">
                    <ion-label item-start>{{title["key"]}}</ion-label>
                    <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right class="range" [(ngModel)]="title['val']">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>5</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item *ngFor="let title of postTrainingDivide.notes">
                    <ion-label stacked> {{title["key"]}} </ion-label>
                    <ion-textarea class="thoughts" [(ngModel)]="title['val']"></ion-textarea>
                </ion-item>
            </ion-item-group>
        </div>
    </ion-list>

</ion-content>
