<!--
  Generated template for the CreateTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons left>
            <button ion-button="arrow-back" color="primary" (click)="cancel()">
                <ion-icon name="ios-arrow-down"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>New Training</ion-title>
        <ion-buttons right (click)="createNewTraining()">
            <button ion-button="arrow-back" color="primary" (click)="cancel()">
                Save
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list no-lines>
        <ion-list-header class="title" (click)="expand('pre')">
            <ion-col>
                Pre-Training
            </ion-col>
            <ion-col style="text-align: right; width: 100%;" col-8>
                <ion-icon style="text-align: right" *ngIf="!preTrainingExpanded" class="drop"
                          name="ios-arrow-forward"></ion-icon>
                <ion-icon *ngIf="preTrainingExpanded" class="drop" name="ios-arrow-down" right></ion-icon>
            </ion-col>
        </ion-list-header>
        <ion-list *ngIf="preTrainingExpanded">
          <ion-item-group>
            <ion-item class="ionItemCrop" *ngFor="let title of preTrainingDivide.range">
                <ion-label item-start>{{title["key"]}}</ion-label>
                <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right class="range" [(ngModel)]="title['val']">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>5</ion-label>
                </ion-range>
            </ion-item>
              <ion-item *ngFor="let title of preTrainingDivide.notes">
                  <ion-label stacked> {{title["key"]}} </ion-label>
                  <ion-textarea class="thoughts" [(ngModel)]="title['val']"></ion-textarea>
              </ion-item>
          </ion-item-group>
        </ion-list>


        <ion-list-header (click)="expand('training')" class="title" >
            <ion-col>
                Training
            </ion-col>
            <ion-col style="text-align: right; width: 100%;" col-8>
                <ion-icon style="text-align: right" *ngIf="!trainingExpanded" class="drop"
                          name="ios-arrow-forward"></ion-icon>
                <ion-icon *ngIf="trainingExpanded" class="drop" name="ios-arrow-down" right></ion-icon>
            </ion-col>
        </ion-list-header>
        <ion-list *ngIf="trainingExpanded">
            <ion-list>
                <ion-label stacked class="trainingHeaders">Warm Up</ion-label>
                <ion-item *ngIf="!mainTraining.activities.warmUp">
                    <button ion-button (click)="addWarmUp()">Add Warm Up</button>
                </ion-item>
                <ion-item *ngIf="mainTraining.activities.warmUp">
                    <button ion-button (click)="addWarmUp()">{{mainTraining.activities.warmUp}}
                        <ion-icon class="trainingHeaders" name="close"
                                  (click)="mainTraining.activities.setWarmUp(null)"></ion-icon>
                    </button>
                    <ion-note>View</ion-note>

                </ion-item>
                <ion-label stacked class="trainingHeaders">Events</ion-label>
                <div style="margin-top: 20px" *ngIf="trainingEventList.length > 0">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-1 style="margin-right: 20px">
                                <button ion-button style="border-radius: 25px; width: 10px; height: 30px;" (click)="addActivity()">
                                <ion-icon name="add"></ion-icon>
                                </button>
                            </ion-col>
                            <ion-col col-10>
                                <div class="scroll" nowrap>
                                    <button ion-button class="label" *ngFor="let event of trainingEventList" (click)="removeLabel(event)">
                                        {{event}}
                                        <ion-icon name="close" class="trainingHeaders"></ion-icon>
                                    </button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid class="exerciseTable">
                        <ion-row style="padding-bottom: 5px">Sprint Hurdles</ion-row>
                        <ion-row>
                            <ion-col class="exerciseCol exerciseHeader" col-1>
                                #
                            </ion-col>
                            <ion-col class="exerciseCol exerciseHeader">
                                Detail
                            </ion-col>
                            <ion-col class="exerciseCol exerciseHeader" col-3>
                                Measure
                            </ion-col>
                            <ion-col class="exerciseCol exerciseHeader" col-2>
                                Reps
                            </ion-col>
                            <ion-col class="exerciseCol" col-1>
                                <ion-icon name="checkmark" style="font-size: 20px; padding: 0; font-weight: bold"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="exerciseCol" col-1>
                                1
                            </ion-col>
                            <ion-col class="exerciseCol">
                                With Blocks
                            </ion-col>
                            <ion-col class="exerciseCol" col-3>
                                42"
                            </ion-col>
                            <ion-col class="exerciseCol" col-2>
                                8
                            </ion-col>
                            <ion-col class="exerciseCol" col-1>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="exerciseCol" col-1>
                                2
                            </ion-col>
                            <ion-col class="exerciseCol">
                                Without Blocks
                            </ion-col>
                            <ion-col class="exerciseCol" col-3>
                                39"
                            </ion-col>
                            <ion-col class="exerciseCol" col-2>
                                8
                            </ion-col>
                            <ion-col class="exerciseCol" col-1>
                                <ion-checkbox></ion-checkbox>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="addSet">
                                    ADD SET
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid style="width: 100%; border: 1px solid black; margin: 20px 5px 5px 5px;">
                        <ion-row>
                            <ion-col style="text-align: center; font-style: italic; opacity: 0.5" (click)="addActivity()">
                                ADD EXERCISE
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-list>
            <ion-label stacked class="trainingHeaders">Cool Down</ion-label>
            <ion-item *ngIf="!mainTraining.activities.coolDown">
                <button ion-button (click)="addCoolDown()">Add Cool Down</button>
            </ion-item>
            <ion-item *ngIf="mainTraining.activities.coolDown">
                <button ion-button (click)="addCoolDown()">{{mainTraining.activities.coolDown}}
                    <ion-icon class="trainingHeaders" name="close"
                              (click)="mainTraining.activities.setCoolDown(null)"></ion-icon>
                </button>
                <ion-note end>View</ion-note>
            </ion-item>
            <ion-item>
                <ion-label stacked>Notes</ion-label>
                <ion-textarea class="thoughts" [(ngModel)]="mainTraining.mainTrainingNotes.val"></ion-textarea>
            </ion-item>
        </ion-list>


        <ion-list-header (click)="expand('post')" class="title" >
            <ion-col>
                Post-Training
            </ion-col>
            <ion-col style="text-align: right; width: 100%;" col-8>
                <ion-icon style="text-align: right" *ngIf="!postTrainingExpanded" class="drop"
                          name="ios-arrow-forward"></ion-icon>
                <ion-icon *ngIf="postTrainingExpanded" class="drop" name="ios-arrow-down" right></ion-icon>
            </ion-col>
        </ion-list-header>
        <div *ngIf="postTrainingExpanded">
            <ion-item-group>
                <ion-item class="ionItemCrop" *ngFor="let title of postTrainingDivide.range">
                    <ion-label item-start>{{title["key"]}}</ion-label>
                    <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right class="range" [(ngModel)]="title['val']">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>5</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item *ngFor="let title of postTrainingDivide.notes">
                    <ion-label stacked> {{title["key"]}} </ion-label>
                    <ion-textarea class="thoughts" [(ngModel)]="title['val']"></ion-textarea>
                </ion-item>
            </ion-item-group>
        </div>
    </ion-list>

</ion-content>
