page-create-training {

  .title {
    background-color: color($colors, dark);
    color: color($colors, primary);
    margin-bottom: 7px;
    margin-top: 7px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    opacity: 0.7;
  }

  .thoughts {
    background-color: white;
    margin: 20px;
    width: 90%;
    max-width: 400px;
    height: 100px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    font-size: 12px;
    padding-top: 0;
  }

  .rangeText {
    height: 100%;
    display: block;
    vertical-align: middle;
  }

  .ionItemCrop {
    height: 50px;
  }
  .alertCss {
    background-color: #2c3035;
    color: #ffffff;
  }
  .trainingHeaders {
    padding-left: 10px;
  }

  .workoutOption {
    color: white;
    text-align: left;
  }

  .notClosed {
    transition: all linear 0.1s;
    display: block;
  }

  .scroll {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .exerciseTable {
    background-color: color($colors, background);
    color: #999999;
  }

  .exerciseHeader {
    font-style: italic;
    text-align: center;
  }

   .exerciseCol {
    background-color: white;
    color: #999999;
    border: 0.1px solid grey;
    text-align: center;
   }

  .exerciseTableLabel {
    font-size: 12px;
    height: 20px;
    padding: 5%;
  }

  .exerciseTableIcon {
    border-radius: 25px;
    width: 10px;
    height: 30px;
  }
  .tableCheckbox {

  }

  .addSet {
    text-align: center;
    border: 1px solid color($colors, primary);
    //margin: 5px;
    font-size: 10px;
    width: 100%;
  }

  .addWarmUpCoolDown {
    text-align: center;
    border: 1px solid color($colors, primary);
    margin: 5px;
    font-size: 10px;
    width: 100%;
  }

  .warmUpCard {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 1px 1px 0 #999999, 0 1px 1px 0 #999999;
  }

  .addExercise {
    color: white;
    border: 1px solid color($colors, primary);
    text-align: center;
    opacity: 0.5;
    width: 100%;
    margin: 10px 5px 5px 5px;
    line-height: 24px;
  }

  .list .item.item-accordion {
    transition: all linear 5s;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .list .item.item-accordion.ng-hide {
    line-height: 0;
  }
  .list .item.item-accordion.ng-hide-add,
  .list .item.item-accordion.ng-hide-remove {
    display: block !important;
  }




}
