page-create-training {

  .tab {
    background-color: color($colors, dark);
    margin-bottom: 7px;
    margin-top: 7px;
  }

  .title {
    width: 100%;
  }

  .drop {
    color: color($colors, primary);
  }

  .rangeText {
    height: 100%;
    display: block;
    vertical-align: middle;
  }
  .openTextBox {
    background-color: white;
    border-radius: 5px;
    color: grey;
    padding: 2px 7px 2px 7px;
    margin: 2px;
  }
  .ionItemFix {
    margin: 2 2 2 2;
  }
}
