<!--
  Generated template for the CreateTrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button="arrow-back" color="primary" (click)="cancel()">
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>New Training</ion-title>
      <ion-buttons right (click)="createNewTraining()">
          <button ion-button="arrow-back" color="primary" (click)="cancel()">
                Save
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list no-lines>
    <ion-item class="tab" align-items-stretch (click)="expand('pre')">
      <ion-label class="title">Pre-Training <ion-icon *ngIf="!this.preTrainingExpanded" class="drop" name="ios-arrow-down" end></ion-icon> <ion-icon *ngIf="this.preTrainingExpanded" class="drop" name="ios-arrow-up" end></ion-icon> </ion-label>
    </ion-item>
    <ion-list *ngIf="!this.preTrainingExpanded">
      <ion-item class="ionItemFix">
        <ion-label item-start>Readiness</ion-label>
        <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right [(ngModel)]="preTraining.readiness.val">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>5</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label item-start>Energy</ion-label>
        <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right [(ngModel)]="preTraining.energy.val">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>5</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label item-start>Hunger</ion-label>
        <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right [(ngModel)]="preTraining.hunger.val">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>5</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label item-start>Stress</ion-label>
        <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right [(ngModel)]="preTraining.stress.val">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>5</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label item-start>Body State</ion-label>
        <ion-range min="0" max="5" [snaps]="true" steps="1" [pin]="true" right [(ngModel)]="preTraining.bodyState.val">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>5</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Pain <ion-icon name="medkit"></ion-icon></ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>Thoughts</ion-label>
        <ion-textarea class="openTextBox" [(ngModel)]="this.preTraining.preThoughts.val"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-item class="tab" (click)="expand('training')">>
      <ion-label class="title">Training <ion-icon *ngIf="!this.trainingExpanded" class="drop" name="ios-arrow-down" end></ion-icon> <ion-icon *ngIf="this.trainingExpanded" class="drop" name="ios-arrow-up" end></ion-icon></ion-label>
    </ion-item>
    <ion-item class="tab" (click)="expand('post')">>
      <ion-label class="title">Post-Training<ion-icon *ngIf="!this.postTrainingExpanded" class="drop" name="ios-arrow-down" end></ion-icon> <ion-icon *ngIf="this.postTrainingExpanded" class="drop" name="ios-arrow-up" end></ion-icon></ion-label>
    </ion-item>
   <div *ngIf="!this.postTrainingExpanded">
     <ion-list no-lines>
      <ion-item>
        <ion-label item-start>Rate Your Training</ion-label>
        <ion-range  min="0" max="5" [snaps]="true" steps="1" [pin]="true" [(ngModel)]="postTraining.overallRating">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>5</ion-label>
        </ion-range>
      </ion-item>
       <ion-item no-lines>
         <ion-label stacked>Overall Thoughts <ion-icon name="ios-expand"></ion-icon></ion-label>
         <ion-textarea class="thoughts" [(ngModel)]="postTraining.postThoughts"></ion-textarea>
       </ion-item>
     </ion-list>
   </div>
  </ion-list>

</ion-content>
