page-standard-login {
  .inputBox {
    border: none;
    padding-left: 20px;
    color: white;
    max-width: 400px;
    font-size: 12px;
    padding-top: 0;
    margin: 0;
  }

  .loginButtonColumn {
    text-align: center;
  }

  .loginButton {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: black;
    border: 1px solid color($colors, primary);
  }
}
