page-login {

  ion-content {
    background-color: #222222;
  }

  .inputBox {
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    color: white;
    border-color: #3B55A0;
  }

  .logo {
    transition: all linear 0.1s;
    padding-top: 25px;
    padding-bottom: 50px;
    width: 250px;
    margin: auto;
  }

  .loginButtonColumn {
    text-align: center;
  }

  .loginButton {
    text-align: center;
    width: 100%;
    background-color: black;
    border: 1px solid #48BBF8;
  }


  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    background: none;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: white;

      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      background-color: #222222;
    }
  }

  body { padding: 2em; }


  /* Shared */
  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width: 100%;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }


  /* Facebook */
  .loginBtn--facebook {
    background-color: facebook;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: facebook-logo;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }


  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background-color: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: google-logo;

  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }

  .create {
    padding: 15px;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    background: none;
    color: white
  }

  .hidden {
    transition: all linear 0.2s;
    height: 0;
    width: 0;
    background-color: transparent;
    top:-200px;
    left: 200px;
    color: transparent;
  }

  .noDisplay {
    display: none;
  }


}
