.light-theme {

  $light-colors: (
          primary:    #8795CD,
          secondary:  #32db64,
          danger:     #f53d3d,
          light:      #FAFAFB,
          dark:       #000000,
          background: #FAFAFB,
          facebook:   (
                  base: #4C69BA,
                  contrast: #ffffff
          ),
          google:     (
                  base: #DD4B39,
                  contrast: #ffffff
          )

  );

  ion-content, ion-menu {
    background-color: color($light-colors, light);
  }

  .toolbar-background {
    background-color: color($light-colors, dark);
  }

  ion-input {
    background-color: color($light-colors, background);
  }


  //--------------------//
  //                    //
  //      MAIN MENU     //
  //                   //
  //------------------//
  .menuIcon {
    color: color($light-colors, primary) !important;
  }

  .homeFab {
    background-color: black;
    border: 1px solid color($light-colors, primary);
  }

  //-----------------------------


  //--------------------//
  //                    //
  //      HOME PAGE     //
  //                   //
  //------------------//

  .hCalendarContent {
    color: white;
  }

  .nothingPlanned {
    font-size: 14px;
    font-style: italic;
    color: color($light-colors, dark);
  }

  .hr-text {
    color: black;
    &:after {
      color: color($light-colors, dark);
      background-color: color($light-colors, light);
    }
  }


  //-----------------------------

  //--------------------//
  //                    //
  //  Stand. Login     //
  //                   //
  //------------------//
  .inputBox {
    color: black;
  }
  .loginButton {
    background-color: color($light-colors, primary);
    border: 1px solid color($light-colors, dark);
  }

  //-----------------------------


}