// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

@import "theme.light";
@import "theme.dark";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$colors: (
  primary:    #8795CD,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #000000,
  background: #161b1f,
  facebook:   (
    base: #4C69BA,
    contrast: #ffffff
  ),
  google:     (
    base: #DD4B39,
    contrast: #ffffff
  )

);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$font-family: Helvetica, Arial, sans-serif;


$facebook-logo: url('../assets/imgs/facebook_button_icon.svg') 6px 6px no-repeat;
$google-logo: url('../assets/imgs/google_button_icon.svg') 6px 6px no-repeat;
$tabs-background: color($colors, dark);
$background-color: color($colors, background);
$text-color: color($colors, light);
$toolbar-background: color($colors, dark);
$alert-input-placeholder-color: white;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-icon-color: color($colors, light);
$tabs-ios-tab-text-color: color($colors, light);
$tabs-ios-tab-icon-color-active: color($colors, primary);
$tabs-ios-tab-text-color-active: color($colors, primary);

$checkbox-ios-icon-size: 16px;
$checkbox-ios-icon-checkmark-style: none;

$alert-ios-background: color($colors, dark);
$alert-ios-radio-label-text-color: color($colors, light);
//$alert-ios-radio-label-text-color-checked:;

$loading-ios-background-color: color($colors, dark);

$range-ios-knob-width: 15px;

$alert-ios-checkbox-label-text-color: white;
$alert-ios-checkbox-label-text-color-checked: white;
$alert-ios-sub-title-text-color: white;
$alert-ios-main-title-text-color: white;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// Input highlight mixin for focus, valid, and invalid states

$tabs-md-tab-icon-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);
$tabs-md-tab-icon-color-active: color($colors, primary);
$tabs-md-tab-text-color-active: color($colors, primary);

$alert-md-background-color: color($colors, dark);
$alert-md-radio-label-text-color: color($colors, light);

$loading-md-background-color: color($colors, dark);

$text-input-md-show-focus-highlight: false;
$text-input-md-show-valid-highlight: false;
$text-input-md-show-invalid-highlight: false;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$alert-wp-background-color: color($colors, dark);
$alert-wp-radio-label-text-color: color($colors, light);

$loading-wp-background-color: color($colors, dark);

$text-input-wp-border-width: 0;

$tabs-wp-tab-icon-color-active: color($colors, primary);
$tabs-wp-tab-text-color-active: color($colors, primary);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
