<ion-menu [content]="content" type="reveal" id="mainCalendarMenu">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
                <ion-title class="menuSectionHeader">2018</ion-title>
            <ion-title class="menuSectionHeader" (click)="filterOpen = !filterOpen">
                <ion-icon item-left name="arrow-forward" *ngIf="!filterOpen"></ion-icon>
                <ion-icon item-left name="arrow-down" *ngIf="filterOpen"></ion-icon>
                Filters
            </ion-title>
            <ion-list no-lines id="filterList" class="accordion-list" *ngIf="filterOpen"> <!-- this right here -->
                <ion-list-header>Event</ion-list-header>
                <ion-item>
                    <ion-label>Long Jump</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>High Jump</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Triple Jump</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Pole Vault</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-list-header>Training Result</ion-list-header>
                <ion-item>
                    <ion-label>Good</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Neutral</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Bad</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-list-header>Athlete</ion-list-header>
                <ion-item>
                    <ion-label>Jonah Elbaz</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Dylan Golow</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Alex Stathis</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>
            </ion-list>


    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>