// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menuIcon {
  color: color($colors, primary);
  padding-right: 15px;
}
.calendar-item {
  padding-left: 25px;
  padding-bottom: 10px;
  font-size: 15px !important;
  font-weight: lighter !important;

}

.filter {
  opacity: 0.5;
}

.menuSectionHeader {
  margin-top: 10px;
  width: 100%;
  background-color: #2b2b2b;
  height: 40px;
  padding: 10px;
  font-size:18px;
}

.noButton {
  background: none;
  border: 0;
  margin: 0;
}

.noDisplay {
  display: none;
}

.noDisplayTransition {
  transition: all linear 0.1s;
  display: block;
  opacity: 0;
  height: 0;
}

.md button {
  text-transform: none;
}

// Style iOS buttons
.ios button {
  text-transform: none;
}

// Style Windows Phone buttons
.wp button {
  text-transform: none;
}

.md ion-label {
  font-size: 14px;
}

// Style iOS buttons
.ios ion-label {
  font-size: 14px;
}

// Style Windows Phone buttons
.wp ion-label {
  font-size: 14px;
}

.circleTab {
  bottom: 15px;
  margin-left: 43%;
  position: absolute;
}

.homeFab {
  background-color: black;
  border: 1px solid color($colors, primary);
}