<ion-menu [content]="content" type="reveal" id="mainCalendarMenu">
    <ion-header>
        <ion-toolbar>
            <ion-label style="font-size: 14px; color: white; padding-left: 10px">Jonah Elbaz</ion-label>
        </ion-toolbar>
    </ion-header>
    <ion-content>
            <ion-item no-lines>
                <ion-select [(ngModel)]="displayedYear" (ionChange)="this.setCalendarYear()">
                    <ion-option *ngFor="let year of years">{{year}}</ion-option>
                </ion-select>
            </ion-item>
        <ion-list no-lines id="calendarList">
            <ion-label no-lines class="calendar-item">
                <ion-icon item-left name="clock" class="menuIcon"></ion-icon> Today
            </ion-label>
            <ion-label no-lines class="calendar-item">
                <ion-icon item-left name="calendar" class="menuIcon"></ion-icon> This Week
            </ion-label>
            <ion-label no-lines class="calendar-item">
                <ion-icon item-left name="md-analytics" class="menuIcon"></ion-icon> Analytics
            </ion-label>
        </ion-list>

        <ion-label class="menuSectionHeader" (click)="collapsable.filter.main = !collapsable.filter.main">
                <ion-icon item-left name="ios-arrow-forward" *ngIf="!collapsable.filter.main"></ion-icon>
                <ion-icon item-left name="ios-arrow-down" *ngIf="collapsable.filter.main"></ion-icon>
                Filters
            </ion-label>
            <ion-list no-lines id="filterList" class="accordion-list" *ngIf="collapsable.filter.main">

                <ion-label class="calendar-item filter" (click)="collapsable.filter.labelsFilterOpen = !collapsable.filter.labelsFilterOpen">
                    Labels
                </ion-label>

                <div *ngIf="collapsable.filter.labelsFilterOpen">
                    <ion-item *ngFor="let label of listOfLabels">
                        <ion-label> {{label}}</ion-label>
                        <ion-checkbox></ion-checkbox>
                    </ion-item>
                </div>

                <ion-label class="calendar-item filter" (click)="collapsable.filter.eventFilterOpen = !collapsable.filter.eventFilterOpen">
                    Event
                </ion-label>

                <div *ngIf="collapsable.filter.eventFilterOpen">
                    <ion-item *ngFor="let event of listOfEvents">
                        <ion-label> {{event}}</ion-label>
                        <ion-checkbox (click)="editEventsModel(event)"  [checked]="getEventFilterModel(event)"></ion-checkbox>
                    </ion-item>
                </div>

                <ion-label class="calendar-item filter" (click)="collapsable.filter.trainingResultFilterOpen = !collapsable.filter.trainingResultFilterOpen">
                    Training Result
                </ion-label>

                <div *ngIf="collapsable.filter.trainingResultFilterOpen">
                    <ion-item>
                        <ion-label>Good</ion-label>
                        <ion-checkbox></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Neutral</ion-label>
                        <ion-checkbox></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Bad</ion-label>
                        <ion-checkbox></ion-checkbox>
                    </ion-item>
                </div>

                <ion-label class="calendar-item filter" (click)="collapsable.filter.athleteFilterOpen = !collapsable.filter.athleteFilterOpen">
                    Athlete
                </ion-label>

                <div *ngIf="collapsable.filter.athleteFilterOpen">
                    <ion-item>
                        <ion-label>Jonah Elbaz</ion-label>
                        <ion-checkbox></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Dylan Golow</ion-label>
                        <ion-checkbox></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Alex Stathis</ion-label>
                        <ion-checkbox></ion-checkbox>
                    </ion-item>
                </div>
            </ion-list>

    </ion-content>
    <ion-footer>
    <ion-row>
        <ion-col style="text-align: center; font-size: 25px;">
            <ion-icon item-right name="md-share" class="share"></ion-icon>
        </ion-col>
        <ion-col style="text-align: center; font-size: 30px;">
            <ion-icon item-right name="ios-download-outline" class="share"></ion-icon>
        </ion-col>
    </ion-row>
        </ion-footer>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>

<!--[class]="selectedTheme" -->