page-add-exercise {
  ion-content {
    background-color: white;
  }
  ion-list-header {
    color: white;
  }

  .list .item.item-accordion {
    transition: all linear 5s;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .list .item.item-accordion.ng-hide {
    line-height: 0;
  }
  .list .item.item-accordion.ng-hide-add,
  .list .item.item-accordion.ng-hide-remove {
    display: block !important;
  }
  .searchList {
    padding: 5px 0 0 0;
  }
  .categoryArrow {
    padding-left: 20px;
    align-content: right;
  }
  .noDisplay {
    //transition: all linear 1s;
    line-height: 0px;

  }
  .categoryToggle {
    transition: all linear 5s;
    line-height: 10px;

    padding-top: 5px;

  }
}
